@font-face {
	font-family: Franklin-Gothic-Heavy_18503;
	src:(Fuentes/Franklin-Gothic-Heavy_18503.ttf);
}

.menu{
	font-family: "Franklin Gothic Heavy";
}

.titulo{
    font-family: "Franklin Gothic Heavy";
    text-align: center;
    text-shadow: 5px 5px 5px 10px rgba(255,255,255,255,0.5);
}

/*Estilo general del menu*/
nav ul {
	list-style: none;
	padding: 0;
}

nav li{
	line-height: 3rem;
	position: relative;
}

.menu ul{
	position: absolute;
	z-index: 1;
}

nav a{
	color: #ddd;
	display: block;
	padding: 0 2.5em;
	text-decoration: none;
	transition: .4s;
}

nav a:hover{
	background: #F0B429;
}

/*primer nivel  menu*/

.menu{

	background: #005883;
	display: table;
	width: 100%;
	text-align: left;
	margin: 0.5em auto;
	max-width: 1000px;
}
	
.menu >  li{
	float: left;
}

/*segundo nivel del menu*/

nav li li{
	background: #005883;
	max-height: 0;
	overflow: hidden;
	transition: all .5s;
}

nav li:hover > ul > li{
	max-height: 1000px;
	overflow: visible;
}

.menu > li > ul{
	top: 100%;
}