*{
    background: #fff;
}

.contenedor{
    width: auto;
    border: solid 1px blue;
    background: #cccccc
}

.fondo{
    background: #ccc;
}

@font-face {
	font-family: angsab;
	src:(Fuentes/angsab.ttf);
}

.menu{
	font-family: angsab;
}